//colors

$black: #464646;
$pink: #e54160;
$green: #507f58;
$orange: #f3a17c;
$peach: #ebbda8;
$pastel: #f7e3da;
$yellow: #ffefcc;
$white: #ffffff;

//resolutions

$laptop: 960px;
$tablets: 768px;
$phones: 480px;
$mini-phones: 320px;
