
@font-face {
  font-family: 'bf_fontsregular';
  src: url('/fonts/blanca-flor.woff2') format('woff2'),
  url('/fonts/blanca-flor.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'madevafl';
  src: url('/fonts/Madewafflesoft.woff2') format('woff2'),
  url('/fonts/Madewafflesoft.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family:'roboto';
  src: url('/fonts/Roboto.woff2') format('woff2'),
  url('/fonts/Roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'roboto-bold';
  src: url('/fonts/Robotobold.woff2') format('woff2'),
  url('/fonts/Robotobold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'roboto-medium';
  src: url('/fonts/Robotomedium.woff2') format('woff2'),
  url('/fonts/Robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}




